<h1>Welcome#index</h1>

<%= link_to "Physician" , controller: "physicians" %><br>
<%= link_to "Patient" , controller: "patients" %><br>
<%= link_to "Appointments" , controller: "appointments" %><br>

